<div class="home-page">
  <div class="left">
    <h1>Simple tools for </h1><h1> Project Management</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur totam magni nemo blanditiis pariatur laudantium. Suscipit, et nisi, vero quibusdam distinctio voluptate omnis at deleniti vitae pariatur, sunt consectetur culpa!</h3>
    <%= link_to new_user_registration_path do %>
      <button>Sign up</button>
    <% end %>

  </div>
  <div class="right">
  
  </div>
</div>