<div class="about">
<h1>About this Project</h1>
<hr>

<p class="greetings">Hi There 👋</p>
<p class="intro">This PROJECT MANAGEMENT is <span>one of many projects I created</span> during my bootcamp.</p>

<p class="caption">List of what you can do with this website</p>
<ul>
  <li>This Task Management is designed for user to have an account, whereas they can save their activities. </li>
  <li>User can create, delete and update a PROJECT. From project it can create, delete and delete a CATEGORY. And from category it can create, delete and update a TASK</li>
  <li>User can create, remove and update deadline.</li>
  <li>User can view progress of projects and categories. Progress is automaticall calculated base on the task you tag as complete.</li>
  <li>User can also view the nuber of categories completed and total categories from project page.</li>
  <li>User can also view the nuber of tasks completed and total task from category page page.</li>
</ul>



  <hr>
  <h3>Try this build in account</h3>
  <p>User name: user1@test.com </p>
  <p>Password: 123456</p>

</div>