.card-category {
  width: 300px;
  height: 175px;
  border: 1px solid black;
  display: flex;
  margin: 0;
  padding: 0;

  .left {
    margin: 0;
    padding: 0;
    width: 40%;
    // height: 100%;
    margin: auto;
    // transform: translatey(50%);
    .title {
      transform: translatex(10%);
    }

  }

  .right {
    width: 60%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    .deadline {
      background-color: black;
      border: none;
      height: 15%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
      color: red;
      p {
        margin: auto;
        margin-left: 15%;
        transform: translatey(25%);
      }
    }
    .progress {
      // border: 1px solid black;
      height: 70%;
      .progress-header {
        margin: auto;
        transform: translatey(50%);
        margin-left: 15%;
      }
    }
    .actions {
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
      background-color: black;
      color: red;
      height: 15%;
      font-size: 12px;
      ul {
        margin: auto;
        transform: translatey(50%);
      }
      ul li{
        display: inline;  
      }
      ul:first-child {
        margin-left: 15%;
      }

    }

  }
}