.tasks_filter {
  border: 1px solid #000;
  width: 50%;
  .deadline {
    border: 1px solid #000;
    color: red;
  }
  .content {
    display: flex;
    
  }
}

.task-header h1 {
  text-align: center;
  margin-bottom: 5px;
}

.task-border {
  background-color: #dddd;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  .task {
    margin: 10px auto;
    border-radius: 5px;
    width: 90%;
    display: flex;
    height: 70px;
    border: 1px solid #000;
    background-color: #fff;
    .left {
      padding: 5px;
      border: 1px solid #000;
      width: 95%;
    }
    .right {
      border: 1px solid #000;
      width: 5%;
      display: flex;
      flex-direction: column;
      background-color: #000;
      .right-sec-1, .right-sec-2, .right-sec-3 {
        border: 1px solid #000;
        margin: auto;
        color: aliceblue;
      }
  
      .right-sec-1 a:active {
        color: aliceblue;
      }
      .right-sec-1 a:visited {
        color: aliceblue;
      }
      .right-sec-1 a:hover {
        color: red;
      }
      .right-sec-1 a:link {
        color: aliceblue;
      }
  
      .right-sec-2 a:active {
        color: aliceblue;
      }
      .right-sec-2 a:visited {
        color: aliceblue;
      }
      .right-sec-2 a:hover {
        color: red;
      }
      .right-sec-2 a:link {
        color: aliceblue;
      }
  
      .right-sec-3 a:active {
        color: aliceblue;
      }
      .right-sec-3 a:visited {
        color: aliceblue;
      }
      .right-sec-3 a:hover {
        color: red;
      }
      .right-sec-3 a:link {
        color: aliceblue;
      }
  
    }
  }
}