<div class="header">
  <div class="logo"><h1>Task Management</h1></div>
  <div class="navigation">
    <ul>
      <li>Home</li>
      <li>About</li>
    </ul>
  </div>
  <div class="session">
 
  </div>
</div>